body {
    background-color: #e6dbb3;
}

div {
    display: flex;
}

.container {
    flex-direction: column;
    justify-content: center;
}

.name-title {
    justify-content: center;
    font-size: 5rem;
}

.personal-details {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

section.job {
    flex-direction: column;
}

.job-title-and-date-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.job-title {
    font-weight: bolder;
    font-size: 2rem;
}

.job-dates {
    font-size: 1.5rem;
    justify-content: flex-end;
}

.job-company-name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

.job-location {
    font-style: italic;
    font-size: 1.5rem;
}

h1.hobby-title {
    font-size: 2rem;
}

h2.hobby-subtitle {
    font-size: 1.5rem;
    font-style: italic;
}